{% extends 'blog/base.html' %}

{% block title %}Все посты{% endblock %}

{% block content %}
<div class="row">
    {% for post in object_list %}
    {% if post.is_published == True %}
    <div class="col">
        <div class="card m-5">
            <img src="{{ post.preview_img.url }}" class="card-img-top w-100" style="height: 10rem" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content | truncatechars:300}}</p>
                <a href="{% url 'blog:blog_detail' post.pk %}" class="btn btn-primary">Перейти к статье</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}