<div class="text-bg-dark" style="height: 100vh;">
    <div class="list-group">
        <nav class="navbar bg-dark">
            <div class="container">
                <div class="navbar-brand text-light">
                    <img src="/static/images/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
                    Меню
                </div>
            </div>
        </nav>
        <a href="{% url 'catalog:home' %}" class="list-group-item list-group-item-action text-bg-dark border-dark">Главная</a>
        <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Категория</a>
        <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Заказы</a>
        <a href="{% url 'catalog:contacts' %}" class="list-group-item list-group-item-action text-bg-dark border-dark">Контакты</a>
    </div>
</div>