{% extends 'catalog/base.html' %}

{% block title %}Категории{% endblock %}

{% block content %}
<h3 style="text-align:center;">Категории</h3>
<div class="row">
    {% for category in object_list %}
    <div class="col-4 p-3">
        <div class="card mx-auto text-center mb-3 text-bg-light d-flex flex-column"
             style="height: 100px; max-width: 20rem;">
            <a href="{% url 'catalog:product_by_category' category.pk %}"><h3>{{ category.name }}</h3></a>
            <p>{{ category.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}