{% extends 'catalog/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h2 class="text-center p-5">Контакты</h2>
<div class="row">
    <div class="col-6">
        <div class="card text-bg-light p-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Имя</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="email-form" class="form-label">E-mail</label>
                    <input type="email" name="email" class="form-control" id="email-form">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-bg-light mb-3">
            <div class="card-header"><h5 class="mt-2 mb-2">Наши контакты</h5></div>
            <div class="card-body">
                {% for contact in object_list %}
                <div class="row p-2">
                    <div class="col">
                        {{contact.city}}
                    </div>
                    <div class="col">
                        {{contact.phone_number}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
