<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Главная</title>
    <link href="/html/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <nav class="navbar bg-dark">
                <div class="container">
                    <a class="navbar-brand text-light" href="#">
                        <img src="/data/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
                        Меню
                    </a>
                </div>
            </nav>
            <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Главная</a>
            <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Категория</a>
            <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Заказы</a>
            <a href="#" class="list-group-item list-group-item-action text-bg-dark border-dark">Контакты</a>
        </div>
    </div>
    <div class="col-10 p-5">
        <h3 style="text-align:center;">Главная</h3>
        <h6 style="text-align:center;">Вы находитесь на сайте, предназначенном для продажи товаров.</h6>
        <div class="row">
            <div class="col-4 p-3">
                <div class="card mx-auto text-center mb-3 text-bg-light d-flex flex-column"
                     style="height: 220px; max-width: 20rem;">
                    <div class="card-header">Товар 1</div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">$100</h5>
                        <p class="card-text">Описание так себе товара 1.</p>
                        <div class="d-grid gap-2 mt-auto">
                            <button type="button" class="mt-auto btn btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="card mx-auto mb-3 text-bg-light d-flex flex-column"
                     style="height: 220px; max-width: 20rem; text-align:center;">
                    <div class="card-header">Товар 2</div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">$250</h5>
                        <p class="card-text">Описание почти лучшего товара 2.</p>
                        <div class="d-grid gap-2 mt-auto">
                            <button type="button" class="mt-auto btn btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="card mx-auto mb-3 text-bg-light d-flex flex-column"
                     style="height: 220px; max-width: 20rem; text-align:center;">
                    <div class="card-header">Товар 3</div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">$300</h5>
                        <p class="card-text">Описание лучшего товара 3.</p>
                        <div class="d-grid gap-2 mt-auto">
                            <button type="button" class="mt-auto btn btn-outline-primary">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>